@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Vazirmatn, sans-serif;
}

:root{
    --bg-color:#f5f5f5; 
    --text-color:#333333;
    --main-color:#0b3d91;
    --white-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}

.dark-mode{

    --bg-color:#1a1a2e; 
    --text-color:#fdfdfd;
    --main-color:#3a6ea5;
    --white-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,0.7);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
}

/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transform: 0.5s;
}

.header.sticky{
    background-color: var(--bg-color);
    box-shadow: 0.1rem 1rem var(--shadow-color)
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    margin-right: auto;
    text-decoration: none;
}

.navbare a{
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    text-decoration: none;
    
}

.header.sticky .navbare a{
    color: var(--text-color);
}

.header.sticky .navbare a.active{
    color: var(--main-color);  
}

.navbare a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background-color: var(--white-color);
}

.header.sticky .navbare a.active::before{
    background-color: var(--main-color);
    opacity: 0.7;
}

#darkmode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
    margin-right: 2rem;
}

.header.sticky #darkmode-icon{
    color: var(--text-color);
    opacity: 0.9;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* start home  ========================================================================= */

section {
    min-height:  100vh;
    padding: 10rem 7rem 2rem;
}

.home{
    display: flex;
    align-items: center;
    text-align: right;
}

.home .home-content{
    max-width: 44rem;
    align-items: center;
}

.home .home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 0.3;
}

.home .home-content h1{
    font-size: 5.2rem;
    font-weight: 700;
    margin: 2rem 0;
}

.home .home-content p{
    font-size: 1.6rem;
    line-height: 2;
}

.home .home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--main-color);
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transform: 0.5s ease;
}

.home .home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 600;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;
}

.btn:hover{
    background:  transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    overflow: hidden;
    pointer-events: none;

}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 100vh;
    /* background: palegoldenrod; */
    border-radius:  50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 5s ease-out infinite;
}

@keyframes professionRotate{
    0%,
    20% {
        transform: rotate(0deg);
    }

    25%,
    45% {
        transform: rotate(-90deg);
    }

    50%,
    70% {
        transform: rotate(-180deg);
    }

    75%,
    95% {
        transform: rotate(-270deg);
    }
    
    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-container .profession-box .profession{
   position: absolute;
   left: 0; 
   display: flex;
   align-items: center;
   flex-direction: column;
   color: var(--main-color);
   transform: rotate(calc(360deg / 4 * var(--i)));
   transform-origin: 384px;
   background-color: var(--bg-color);
   padding: 1.3rem 0;
   
}

.home .profession-container .profession-box .profession i {
    font-size: 3.8rem;
}

.home .profession-container .profession-box .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.profession-box .profession:nth-child(1) i {
    margin-right: 1rem;
}

.profession-box .profession:nth-child(2),
.profession-box .profession:nth-child(4) {
    padding-bottom: 2rem;
}

.profession-container .circle{
    width: 650px;
    height: 650px;
    border: 3px solid var(--main-color);
    /* background-color: rebeccapurple; */
    border-radius: 50%;
    
}

.home .profession-container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 50vh solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 50vh solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img{
    position: absolute;
    bottom: 0;
    right: 40px;
    pointer-events: none;
    max-width: 480px;
    max-height: 100vh;

}


/* start about_us ========================================================= */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: right;
    padding: 10rem 7% 2rem;
}

.about .about-img {
    width: 40vw;
    border-radius: 2rem;
}

.header{
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about-content{
    text-align: right;
    
}

.about-content h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    left: 1.6;
}

.about-content .btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background-color:  var(--main-color);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    transition: 0.5s ease;
}

.about-content .btn:hover{
    background: transparent;
    color: var(--main-color);
    border: 0.2rem solid var(--main-color);
}

span {
    color: var(--main-color);
}


/* services ============================================================= */

.services {
    min-height: auto;
    padding-bottom: 10rem;
}

.services h2 {
    margin-bottom: 5rem;
    text-align: center;
}

.services .services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:  wrap;
  gap: 2rem;
}

.services .services-container .services-box {
    flex: 1 1 30rem;
    background:  var(--bg-color);
    padding:  3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow:  0 0.1rem 0.5rem var(--shadow-color);
    text-align:  center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transition: 0.5s ease ;  
}


/* portfolio =========================================== */

.portfolio{
   min-height: auto;
   padding-bottom: 10rem; 
}

.portfolio h2 {
    margin-bottom: 4rem;
    text-align: center;
}

.portfolio .portfolio-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1) ;
}

.portfolio-box .portfolio-layer{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    opacity: 0;
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer{
 opacity: 1;
}

.portfolio-box .portfolio-layer h4{
    font-size: 3rem;   
}

.portfolio-box .portfolio-layer p {
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;

}

.portfolio-box .portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-box .portfolio-layer a {
    font-size: 2rem;
    color: #333;
}

/* slider ======================================================= */

.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction:  column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    padding: 5rem;
    width: 100%;
}

.testimonial-container .testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-container .testimonial-wrapper .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: 0.8rem solid var(--main-color);
    border-bottom: 0.8rem solid var(--main-color);

}

.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border: 0.5rem solid var(--bg-color);
    outline: 0.5rem solid var(--main-color);
    border-radius: 50%;

}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.testimonial-slide p{
    font-size: 1.4rem;
    margin: 2rem;
}

.testimonial-box .swiper-button-prev,
.testimonial-box .swiper-button-next{
    color: var(--main-color)
}

.testimonial-box .swiper-button-next{
  right: 0;
}
.testimonial-box .swiper-button-prev{
  left: 0;
}

.testimonial-box .swiper-pagination-bullet{
    background-color: rgba(0, 0, 0, 0.8);
}

.testimonial-box .swiper-pagination-bullet{
    background: var(--main-color);
}


/* contact us ============================================================ */
.contact{
    min-height: auto;
    padding-bottom: 7rem;    
}

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.contact form{
    max-width: 78rem;
    margin: 1rem auto;
    text-align:  center;
    margin-bottom: 3rem;
    direction: rtl;  
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form  textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--bg-color);
    border-radius:0.8rem ;
    margin: 0.7rem 0;
    background-color: var(--bg-color);
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form  textarea{
    resize: none;
}

.contact form .btn {
    margin-top: 2rm;
    cursor: pointer;
}

/* footer ============================================================== */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background-color: var(--main-color);
    direction: rtl;
}

.footer div {
    font-size: 1.6rem;
    color: var(--white-color)
}

.tel{
    display: flex;
}

.tel p{
    margin-right: 10px;
}

.footer-icontop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--white-color);
    border-radius: 0.8rem;
    border: o.2rem solid var(--main-color);
    outline: o.2rem solid transparent;
    transition: 0.5s ease;
}

.footer-icontop a:hover {
    outline-color: var(--white-color);
}

.footer-icontop a i{
    font-size: 2.4rem;
    color: #333;
}

@media (max-width: 1300px) {
   .home .profession-container .profession-box{
    right: -10%;
   } 
}

@media (max-width: 1280px) {
   .home .profession-container .profession-box{
    right: -10%;
   } 
}

@media (max-width: 1200px) {
   html{
    font-size: 55%;
   }
   .home .profession-container .profession-box{
    right: -10%;
   }
   .home .profession-container .overlay{
    right: -6%;
   }
   .home-img img{
    right: 0;
   }

   .about-img img{
        width: 45vw;
        margin: 0 auto;
        
    }
}

@media (max-width: 1100px) {
  
   .home .profession-container .profession-box{
    right: -21%;
   }
 
   .home-img img{
    max-width: 420px;
   }
    .about-img img{
        width: 45vw;
        margin: 0 auto;
        
    }
}

@media (max-width: 1024px) {

    section {
        padding: 10rem 3% 2rem;
    }
  
   .home .profession-container .profession-box{
    right: -20%;
   }
 
   .home-img img{
    max-width: 400px;
   }

   .home .profession-container .overlay{
    right: -12%;
   }

     .about-img img{
        width: 45vw;
        margin: 0 auto;
        
    }
}

@media (max-width: 991px) {
  .home-content
  {
    max-width: 50rem;
  }

  .home .profession-container .profession-box{
    right: -38%;
   }

   .home .profession-container .overlay{
    right: -30%;
   }

   .home-img img{
    display: none;
   }

   .about-img img{
        width: 45vw;
        margin: 0 auto;
        
    }
}

@media (max-width: 896px) {
    .home .profession-container .profession-box{
    right: -58%;
   }

   .home .profession-container .overlay{
    right: -43%;
   }
     
  .about-img img{
        width: 45vw;
        margin: 0 auto;
        
    }
    .portfolio .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    #darkmode-icon{
        color: var(--text-color);
    }
    .navbare{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background-color: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        text-align: center;
        display: none;
    }

    .navbare.active{
        display: block;
    }

    .navbare a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbare a::before {
      display: none;
    }

    #menu-icon {
        display: block;
    }
    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        align-items: center;
    }

    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }
    .home .profession-container .profession-box{
        position: fixed;
        top: 450px;
        left: 0;
        width: 100%;
    }

    .home .profession-container .profession-box .profession:nth-child(1) {
       transform: rotate(-90deg) translate(-100px , -227px); 
    }
    .home .profession-container .profession-box .profession:nth-child(2) {
       transform: rotate(0deg) translate(0px , -325px); 
    }
    .home .profession-container .profession-box .profession:nth-child(3) {
       transform: rotate(90deg) translate(-62px , -415px); 
    }
    .home .profession-container .profession-box .profession:nth-child(4) {
       transform: rotate(180deg) translate(-119px , -338px); 
    }

    .home .profession-container .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .profession-container .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay{

        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
        padding: 5rem 3% 2rem;
    }

    .about-img{
        width: 100vw;
        margin: 0 auto;
        
    }

    .about-content{
        text-align: center;
    }
    
    .about-content h2, .about-content h3
    {
        text-align: center;
    }
}


@media (max-width: 340px) {

    html {
        font-size: 1.8rem;
    }
    .portfolio .portfolio-container{
    grid-template-columns: 1fr;
    }

    .about-content h3{
        font-size: 1.8rem;
    }
    .about-content p{
        font-size: 1.4rem;
        margin: 1.5rem 0;
    }
    .about-img img{
        width: 80vw;
        
    }

    .contact form .input-box input{
    width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer{
        text-align: center;
        margin-top: 2rem;
    }

}



